html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("\./images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: black; 
  text-align: center;
}

canvas {
  display: block;
}

#board {
  width: 540px;
  height: 540px;
  background-color: rgb(255, 222, 227);
  border: 2px solid rgb(252, 164, 178);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 60px;
  height: 60px;
}

h1 {
  color: rgb(99, 0, 138);
}

